<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  
  <servlet>
  <servlet-name>IndexServlet</servlet-name>
  <servlet-class>com.yin.ycontrol.screenShotter.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>IndexServlet</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ImageServlet</servlet-name>
  <servlet-class>com.yin.ycontrol.screenShotter.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ImageServlet</servlet-name>
  <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>ControlServlet</servlet-name>
  <servlet-class>com.yin.ycontrol.screenShotter.ControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ControlServlet</servlet-name>
  <url-pattern>/ControlServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>VedioServlet</servlet-name>
  <servlet-class>com.yin.ycontrol.screenShotter.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>VedioServlet</servlet-name>
  <url-pattern>/VedioServlet</url-pattern>
  </servlet-mapping>
</web-app>
